{% extends 'layout.html' %}

{% block content %}
<div class="switchbox">
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <button onclick="history.back()">Back</button>
<div class="divider">
    Food
</div>
<div class="twofour_grid">
    <div class="foodimg1"></div>
    <div class="paragraph">Paella is a classic Spanish dish that originated in the Valencia region. It is a rice-based dish known for its vibrant color, which comes from saffron. There are many variations of paella, but the traditional Valencian recipe includes ingredients like chicken, rabbit, and green beans. Seafood paella is another popular version, featuring a variety of shellfish and fish. The dish is cooked in a special shallow, wide pan called a paella pan, which helps the rice cook evenly and develop a delicious crust at the bottom.</div>
    <div class="paragraph">Tortilla Española, also known as Spanish omelette, is a simple yet satisfying dish found all over Spain. It is made with just a few key ingredients: eggs, potatoes, and onions. The potatoes and onions are first slowly fried in olive oil until they are tender and golden. They are then mixed with the beaten eggs and cooked to form a thick, hearty omelette. Tortilla Española can be served hot or at room temperature and is a staple in tapas bars and homes alike.</div>
    <div class="foodimg2"></div>
    <div class="foodimg3"></div>
    <div class="paragraph">Gambas al Ajillo, or garlic shrimp, is a popular Spanish tapa. This dish consists of fresh shrimp cooked in a sizzling hot cazuela, or earthenware dish, with generous amounts of garlic, olive oil, and a touch of chili pepper for heat. The shrimp cook quickly in the flavorful oil, and the dish is typically served immediately, still bubbling. It's often enjoyed with crusty bread, perfect for soaking up the delicious, garlicky oil.</div>
    <div class="paragraph">Patatas Bravas is another beloved Spanish tapa. The name translates to "brave potatoes," which refers to the spicy sauce that accompanies the dish. It consists of chunks of fried potatoes, crispy on the outside and soft on the inside, topped with a rich, tomato-based "brava" sauce. In some regions, a creamy garlic aioli is also added. Patatas bravas is a staple in tapas bars throughout Spain and is a delicious and satisfying snack or appetizer.</div>
    <div class="foodimg4"></div>
</div>

{% endblock %}