<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Testing</title>
</head>
<body>
    <!-- Shared Sidebar -->
    <aside class="sidebar">
        <div class="box topbox"><h1>Useful Links</h1></div>
        <a href="https://www.wordreference.com/" target="_blank"><div class="box">WordReference</div></a>
        <a href="https://quizlet.com/class/28092562/materials" target="_blank"><div class="box">Quizlet</div></a>
        <a href="https://www.pearsonactivelearn.com/app/library/series/view/714976#/exercises" target="_blank"><div class="box">Activelearn</div></a>
        <a href="https://spanish411.net/PractiquemosLogin.asp" target="_blank"><div class="box">Spanish 411</div></a>
        <a href="https://www.linguascope.com/" target="_blank"><div class="box">Linguascope</div></a>
        <a href="https://docs.google.com/document/d/14DdVjXwLZaOLZ43lQNi-xsW8XdFYTj465JwST2HjMUM/edit?tab=t.0" target="_blank"><div class="box">Vocabulary Homework</div></a>
    </aside>
    <!--Hero Section-->
    <div class="hero-section"><h1 class="hero-text">Spanish</h1></div>
    <!-- toggle switch -->
    
    <!-- Other stuff -->
    <section class="other">
    {% block content %}{% endblock %}
    </section>
</body>
</html>