<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Testing</title>
</head>
<body>
    <!-- Shared Sidebar -->
    <section class="sidebar">
        <div class="box topbox"><h1>Hello</h1></div>
        <a href="https://www.w3.org/"><div class="box">xx</div></a>
        <a href="https://www.w3.org/"><div class="box">xx</div></a>
    </section>
    <!-- Other stuff -->
    <h1 class="temp">hello</h1>
    {% block body %}
    {% endblock %}
</body>
</html>